<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Telegraph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Telegraph.Properties.Settings>
            <setting name="ACCESS_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="DO_NOT_ASK_TO_CLOSE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AUTH_URL" serializeAs="String">
                <value />
            </setting>
        </Telegraph.Properties.Settings>
    </userSettings>
</configuration>